MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=SEO
MONGO_DB_NAME=seo_blog_db
MODEL_NAME=TinyLlama/TinyLlama-1.1B-Chat-v1.0
MAX_NEW_TOKENS=500
TEMPERATURE=0.7
TOP_P=0.9
DEVICE=cpu
APP_ENV=development
DEBUG=True